

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color:#fafafa;
    font-size: 16px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width:100%;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-size:14px;
    font-weight: 600;
    border:1px solid;
    border-radius: 0px;
    outline:0;
}




/*============================================
        BS PRICING TABLE TWO
==============================================*/

.jumbotron h1 {
    margin-bottom: 40px;
}

.roomy-50{
    padding: 0px;
    margin: 0px;
} 
.p-top-100{
    padding-top:10px;
    margin: 0px;
}

.bs-pricing-table-two{
    box-shadow: 0px 10px 27px 0px #ddd;
    width: 100%;
    padding: 40px 0px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
.bs-pricing-table-two > div {
    padding: 0;
    margin:0;
}
.bs-pricing-table-two .bs-icon {
    margin: 0 auto;
    padding: 0 auto;
    top: 0px;
    position: relative;
}

.bs-pricing-table-two .bs-icon img{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 auto;
}

.bs-pricing-table-two .bs-icon:before{
    content: "";
    position: absolute;
    left: 50%;
    top: 70%;
    width: 35%;
    height: 50px;
    margin: 0 auto;
    background-color: #E2EBF6;
    border-radius: 50%;
    margin-left: -17.5%;
    z-index: 1;
    opacity: 0.6;
}

.bs-pricing-table-two .head{
    margin-top: 0px;
}
.bs-pricing-table-two .price-title h2{
    color:#8DA0B8;
    font-weight: 400;
}
.bs-pricing-table-two .head .price h1 small,
.bs-pricing-table-two .head .price h1{
    color:#998EFA;
    font-size:60px;
    font-weight: 700;
}
.bs-pricing-table-two .head .price h1 small{
    font-size:22px;
}
.bs-pricing-table-two .head .price h1 sup{
    font-size: 30px;
    top: -25px;
    position: relative;
}
.bs-pricing-table-two .bs-pricing-item li{
    color:#B8C3D2;
    font-weight: 300;
    line-height: 2.5rem;
}
.bs-pricing-table-two .bs-pricing-item ul{
    margin:0;
    padding:0;
    list-style: none;
}
.bs-pricing-table-two .bs-pricing-item li strong{
    font-weight: 700;
}
.bs-pricing-table-two .bs-pricing-item{
    border-right: 1px solid #ddd;
    padding-bottom:30px;
}
.bs-pricing-table-two .bs-pricing-item.last-border{
    border-right: 0px solid;
}
.bs-pricing-table-two .btn-primary{
    color: #fff;
    background-color: #998EFA;
    border:1px solid;
    border-color: #998EFA;
    padding: 0.4rem 3rem;
    margin-top:20px;
}
.bs-pricing-table-two .btn-primary:hover{
    background-color: #A9A0B8;
    border-color: #A9A0B8;
    color:#fff;
}
.btn-more{
    color: #fff;
    background-color: yellow;
    border:1px solid;
    border-color: #998EFA;
    padding: 0.4rem 3rem;
    margin-top:20px;
}
.btn-more:hover{
    background-color: #A9A0B8;
    border-color: #A9A0B8;
    color:#fff;
}




/*copyright
==================*/
.footer{
    background-color: #333;
}
.copyright{
    padding: 20px 10px;
}
.copyright p {
    font-size:12px;
    color:#fff;
}
.copyright p i {
    padding: 0px 5px;
    color: red;
}
.copyright p a {
    padding: 0px 5px;
    color: yellow;
}




/* Portrait tablets and small desktops */
@media (max-width: 991px) {


    .sm-m-top-50{
        margin-top:50px;
    }
    .sm-m-top-140{
        margin-top:140px;
    }
    .bs-pricing-table-two .bs-pricing-item.sm-last-border{
        border-right: 0px solid;
        padding-bottom:50px;
    }



}





/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {

    .xs-m-top-50{
        margin-top:50px;
    }
    .xs-m-top-40{
        margin-top:40px;
    }

    .bs-pricing-table-two .bs-pricing-item{
        border-bottom: 1px solid #EDF3F9;
        padding-bottom:80px;
    }
    .bs-pricing-table-two .bs-pricing-item.last-border{
        border-bottom: 0px solid ;
        padding-bottom:0px;
    }
    .bs-pricing-table-two .bs-pricing-item.xs-last-border{
        border-right: 0px solid;
    }


}
